<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rest_microservices.mapper.ManufacturerMapper">

    <resultMap id="ManufacturerResultMap" type="com.example.rest_microservices.model.Manufacturer">
        <id property="mfrId" column="mfr_id" />
        <result property="mfrName" column="mfr_name" />
        <result property="country" column="country" />
    </resultMap>

    <insert id="insertManufacturer">
        INSERT INTO manufacturer (mfr_id, mfr_name, country)
        VALUES (#{mfrId}, #{mfrName}, #{country})
    </insert>

    <select id="countManufacturersByCountry" resultType="map">
        SELECT country, COUNT(DISTINCT mfr_name) as manufacturerCount
        FROM manufacturer
        GROUP BY country
        HAVING COUNT(DISTINCT mfr_name) BETWEEN #{min} AND #{max}
    </select>
</mapper>